.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #5a5555;
  padding: 120px;
  border-radius: 10px;
  border: 1px solid blue;
}
.containerSecond{
  text-align: center;
  margin-top: 20px;
}
.div{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.input{
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #cb9400;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #61616180;
  border-radius: 5px;
  padding: 5px;
}
.label{
   font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #dfe1e7;
  font-weight: 600;
}
.h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  color: #cb9400;
  font-weight: 600;
  text-align: center;
  
}
.btn{
  display: inline-block;
  background-color: #cb9400;
  padding: .5em 1em;
  color: #f1eded;
  font-family: inherit;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcb750;
  border: transparent;
  border-radius: 2px;
  margin: 3px;
  position: absolute;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table{
	width:$width;
	margin:0 $margin 50px $margin;
}
.table tr td{
  padding:5px;
  border:1px solid #000;
}
.table tr td:nth-child(1){
  width:100px;
}
.th{
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #cb9400;
  font-weight: 600;
  border-radius: 10%;
  border-color: #000;
}

